.wave-1 {
    animation: wave 1.2s infinite ease-in-out;
}

.wave-2 {
    animation: wave 1.2s infinite ease-in-out -1.1s;
}

.wave-3 {
    animation: wave 1.2s infinite ease-in-out -1.0s;
}

@keyframes wave {
    0%,40%,100% {
        transform: scaleY(0.4);
    }
    20% {
        transform: scaleY(1.0);
    }
}